{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% if sepet|length > 0 %}
            {% for urun in sepet %}
                <div class="col-4"> 
                    <div class="card">
                        <img src="{{urun.urun.resim.url}}" height="200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{urun.urun.isim}}</h5>
                                <p>Satıcı : {{urun.urun.satici.username}}</p>
                            </div>
                            
                            <p>{{urun.urun.kategori.isim}}</p>
                           
                            <p class="card-text">{{urun.urun.aciklama}}</p>
                            <p>Fiyat : {{urun.urun.fiyat}} TL</p>
                            <p>Adet : {{urun.adet}}</p>
                            <p>Topplam Fiyat : {{urun.toplamFiyat}}</p>

                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <h1>Eşleşen ürün bulunmamaktadır</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}